In [1]:
import pandas as pd, os

In [2]:
base = 'C:/Org_TI/Codigos_Scripts/MedicaoCopasa/Bases/'

In [3]:
colsDetalhes = {
    'DATA ENTRADA ': 'DATA',
    'TÍQUETE': 'TICKET',
    'MTR': 'MTR',
    'PLACA': 'PLACA',
    'MOTORISTA': 'MOTORISTA',
    'PESO LÍQUIDO': 'PESO',
    'TOK R$': 'TOK R$',
    'KM': 'KM',
    'TOTAL R$': 'TOTAL R$',
    'Coluna1': 'OBS',
    'TÍQUETE ': 'TICKET',
    'TO R$': 'TO R$',
    ',': 'OBS',
    'Limpeza de leito': 'OBS',
    'DATA': 'DATA',
    'KM RODADO': 'KM RODADO',
    'DESCONTO': 'DESCONTO',
    'KM FINAL': 'KM FINAL',
    'ETE ATENDIDA': 'ETE ATENDIDA',
    'EQUIPE': 'EQUIPE',
    'SAIDA': 'SAIDA',
    'DESTINO': 'DESTINO',
    'CHEGADA': 'CHEGADA',
    'EQUIPE COMPLETA': 'EQUIPE COMPLETA',
    'TIQUETE': 'TICKET',
    '  ': 'OBS'
}

In [5]:
df1 = {
    'ArquivoAba': [],
    '%Reajuste': [],
    'ITEM': [],
    'DESCRIÇÃO': [],
    'QUANTIDADE': [],
    'UNIDADE': [],
    'VALOR (R$)': [],
    'VALOR TOTAL (R$)': [],
    'ETIQUETA': [],
    'DATA': [],
    'TICKET': [],
    'MTR': [],
    'PLACA': [],
    'MOTORISTA': [],
    'PESO': [],
    'KM': [],
    'TOK R$': [],
    'TO R$': [],
    'TOTAL R$': [],
    'OBS': [],
    'KM RODADO': [],
    'DESCONTO': [],
    'KM FINAL': [],
    'ETE ATENDIDA': [],
    'EQUIPE': [],
    'SAIDA': [],
    'DESTINO': [],
    'CHEGADA': [],
    'EQUIPE COMPLETA': []
}
itensContrato = ['10', '20', '30', '70', '80', '90', '40', '50', '60', '100', '110']
for anoMes in os.listdir(base):
    for ete in os.listdir(base+anoMes):
        for arq in os.listdir(base+anoMes+'/'+ete):
            if arq[0] != '~':
                abas = pd.ExcelFile(base+anoMes+'/'+ete+'/'+arq).sheet_names
                for aba in abas:
                    if 'RESUMO' in aba:
                        resumo = pd.read_excel(base+anoMes+'/'+ete+'/'+arq, sheet_name=aba, skiprows=3, dtype=str)
                        for i, row in resumo.iterrows():
                            if row['ITEM'] in itensContrato:
                                for col in list(df1):
                                    if col in ['ITEM', 'DESCRIÇÃO', 'QUANTIDADE', 'UNIDADE', 'VALOR (R$)', 'VALOR TOTAL (R$)']:
                                        df1[col].append(row[col])
                                    else:
                                        if col not in ['ArquivoAba', '%Reajuste']:
                                            df1[col].append(None)
                                df1['ArquivoAba'].append(arq+' - '+aba)
                                df1['%Reajuste'].append(0.159248453478)
                    else:
                        detalhe = pd.read_excel(base+anoMes+'/'+ete+'/'+arq, sheet_name=aba, dtype=str, header=None)
                        colunas = []
                        for i, row in detalhe.iterrows():
                            if 'DATA' in str(row[0]):
                                colunas = row.values
                                etiqueta = detalhe.iloc[i-1, 0]
                            colsFeitas = []
                            if pd.notna(row[0]) and row[0] not in list(colsDetalhes) and len(colunas) > 0:
                                obs = ''
                                for n, col in enumerate(colunas):
                                    colC = colsDetalhes.get(col)
                                    if colC == 'OBS' or pd.isna(col):
                                        obs += str(row[n])
                                    else:
                                        df1[colC].append(row[n])
                                        colsFeitas.append(colC)
                                df1['OBS'].append(obs)
                                df1['ETIQUETA'].append(etiqueta)
                                df1['%Reajuste'].append(0.159248453478)
                                colsFeitas.append('OBS')
                                colsFeitas.append('ETIQUETA')
                                colsFeitas.append('%Reajuste')
                                
                                for colDf in list(df1):
                                    if colDf not in colsFeitas and colDf not in ['ArquivoAba', '%Reajuste']:
                                        df1[colDf].append(None)
                                    elif colDf == 'ArquivoAba':
                                        df1[colDf].append(arq+' - '+aba)

KeyError: None

In [ ]:
pd.DataFrame(df1).to_excel('TesteMedicaoCopasa.xlsx', index=False)